.skills {
  display: flex;
  flex-wrap: wrap;
  &__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: $color-primary-soft;
    border-radius: $commonBorderRadius;
    font-weight: 600;
    color: $color-primary-text;
    border: 1px solid $color-primary-border;
  }
}
